.events-area{
    &::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 68%;
        height: 100%;
        z-index: -1;
        background-color: $second-bg;

        @include respond-below(md) {
            background-color: transparent;
  
        }
        
    }
    .events{
        &__heading{
            h5{

            }
            h2{

            }
        }
        &__image{
            img{

            }
        }
        &__wrap{
            @include respond-below(md) {
                margin-top: 30px;                 
            }
            &per{
                padding-right: 90px;
                @include respond-between(md, lg) {
                    padding-right: 50px;
  
                }
                @include respond-below(md) {
                 padding-right: 0px;
                  
                }
                
                
            }
        }
        &__item{
            padding: 30px;
            margin-bottom: 30px;
            background-color: $white-bg;

            @include respond-between(md, lg) {
                padding: 20px 30px;
  
            }
            @include respond-below(md) {
                padding: 25px 0px;
              
            }
            
            
        }
        &__time{
            min-width: 100px;
            margin-right: 25px;

            @include respond-below(xs) {
              margin: 0 0 25px;
              min-height: 90px;

            }
            
            
        }
        &__month{
            span{
                color: $para-color;
                margin-bottom: 10px;
            }
        }
        &__date{
            h4{
                font-size: 50px;
                font-weight: 700;

                @include respond-between(md, lg) {
                    font-size: 43px;
  
                }
                
            }
        }
        &__content{

        }
        &__categ{
            a{
                color: $para-color;
                @extend .transition;

                &:hover{
                    color: $white-color;
                }
            }
            span{
                color: $para-color;

            }
        }
        &__title{
            h3{
                color: $teamplate-color;
                line-height: 36px;
                @extend .transition;

                @include respond-between(md, lg) {
                    @include texts(21,30)
                }
                
                
                &:hover{
                    color: $main-color;
                }
            }
        }
        &__link{
            a{
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                margin-top: 55px;
                color: $teamplate-color;
                position: relative;

                @include respond-between(lg, xl) {
                    margin-top: 35px;
  
                }
                
                
                &::after{
                    position: absolute;
                    content: '';
                    bottom: 3px;
                    right: 0;
                    width: 0%;
                    height: 1px;
                    background-color: $teamplate-color;
                    @extend .transition;

                }

                &:hover{
                    &:after{
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
}